* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #b7b7b7;
}

.input {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input {
  display: none;
}
label {
  font-size: 1.2rem;
  text-transform: capitalize;
  background-color: #3b8ea5;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 0.5rem;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.4s;
}
label:hover {
  opacity: 0.8;
}
button {
  display: block;
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin: 2.5rem auto;
  padding: 0.5em 2em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.16);
}
button:hover {
  background-color: #2d728f;
  color: #fff;
  transform: translateY(-3px);
}
button:active {
  transform: translateY(-1px);
}
.tablebox {
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0.5em;
  color: #1c2321;
}
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  display: table;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 5rem;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  display: table-cell;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3b8ea5;
  color: white;
  display: table-cell;
  text-transform: capitalize;
}
